<%- include("header") -%>

    <div id="heading">
        <h1>
            <%= listTitle %>
        </h1>
    </div>

    <div class="box">
        <table>
            <% for(let i=0;i< items.length;i++){ %>
                <tr>
                    <td>
                        <input type="checkbox">
                        <p>
                            <%= items[i] %>
                        </p>
                    </td>
                    <td>
                        <button class="delbtn">&#128465;</button>
                    </td>

                </tr>

                <% } %>
        </table>
        <form class="additem" action="/" method="POST">
            <label>Add Item</label>
            <input type="text" name="todoinput" placeholder="NEW ITEM" autocomplete="off">
            <button class="btn" type="submit" name="btn" value= <%= listTitle %> >+</button>
        </form>
    </div>
    
    <%- include("footer") -%>